<% layout('layouts/boilerplate') %>
<div class="container">
  <div class="row">
    <h1 class="text-center display-3">Edit Hot Sauce!</h1>

    <div class="col-lg-6 offset-lg-3">
      <form
        action="/sauces/<%= sauce._id %>?_method=PUT"
        method="POST"
        class="mb-5"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            aria-describedby=""
            placeholder="Enter Sauce Name"
            value="<%= sauce.name %>"
          />
        </div>
        <div class="mb-3">
          <label for="brand" class="form-label">Brand:</label>
          <input
            type="text"
            class="form-control"
            id="brand"
            name="brand"
            aria-describedby=""
            placeholder="Enter Sauce Brand"
            value="<%= sauce.brand %>"
          />
        </div>
        <div class="mb-3">
          <label for="brand" class="form-label">Bottles:</label>
          <input
            type="text"
            class="form-control"
            id="bottles"
            name="bottles"
            aria-describedby="emailHelp"
            placeholder="Enter number of bottles"
            value="<%= sauce.bottles %> "
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            aria-describedby=""
            placeholder="Enter Price"
            value="<%= sauce.price %>"
          />
        </div>
        <!-- <div class="mb-3">
          <label for="rating" class="form-label">Rating:</label>
          <input
            type="number"
            class="form-control"
            id="rating"
            name="rating"
            aria-describedby=""
            placeholder="Enter Rating (1-5)"
            value="<%= sauce.rating %>"
          />
        </div> -->

        <fieldset class="starability-basic mb-3">
          <legend>Rating:</legend>
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="0"
            checked
            aria-label="No rating."
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <div class="mb-3">
          <label for="heat" class="form-label">Heat:</label>
          <input
            type="string"
            class="form-control"
            id="heat"
            name="heat"
            aria-describedby=""
            placeholder="Enter Heat Level (1-10)"
            value="<%= sauce.heat %>"
          />
        </div>

        <div class="mb-3">
          <label for="size" class="form-label">Size:</label>
          <input
            type="text"
            class="form-control"
            id="size"
            name="size"
            aria-describedby=""
            placeholder="Enter size in oz"
            value="<%= sauce.size %>"
          />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea class="form-control" name="description" id="description">
<%= sauce.description %>"</textarea
          >
        </div>
        <div class="mb-3">
          <label for="ingredients" class="form-label">Ingredients:</label>
          <textarea class="form-control" name="ingredients" id="ingredients">
<%= sauce.ingredients %>"</textarea
          >
        </div>

        <div class="mb-3">
          <label for="imageUrl" class="form-label">Image:</label>
          <input
            type="text"
            class="form-control"
            id="imageUrl"
            name="imageUrl"
            multiple
            value="<%= sauce.image.url %>"
          />
        </div>
        <div class="d-grid d-lg-inline">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
