<% layout('layouts/boilerplate') %>

<div class="container">
  <h1 class="display-2 text-center">Alex's Empty Bottles</h1>
  <hr />
  <div class="row">
    <% for(let sauce of sauces){ %>

    <div class="col mb-3">
      <div class="card mx-auto" style="width: 18rem">
        <img
          src="<%= sauce.imageUrl %>"
          class="card-img-top img-fluid"
          alt="..."
          style="max-height: 200px; width: auto; object-fit: contain"
        />
        <div class="card-body text-center">
          <a href="/sauces/<%= sauce._id %>"
            ><h5 class="card-title text-center"><%= sauce.name %></h5></a
          >
          <!-- <h6>Bottles: <span class="badge rounded-pill bg-primary">2</span></h6> -->

          <!-- <p>Rating:</p> -->
          <p
            class="starability-result mx-auto"
            data-rating="<%= sauce.rating %>"
          >
            Rated: <%= sauce.rating %> stars
          </p>
          <div class="d-grid d-lg-inline gap-2 mb-2">
            <a
              class="btn btn-outline-info btn-sm"
              href="/sauces/<%= sauce._id %>/edit"
              ><i class="far fa-edit"></i
            ></a>
            <a
              class="btn btn-outline-info btn-sm"
              href="/sauces/<%= sauce._id %>/toCollection"
              >Add to Collection</a
            >
          </div>
          <form
            action="/sauces/<%= sauce._id %>?_method=DELETE"
            method="POST"
            class="d-grid d-lg-inline"
          >
            <button class="btn btn-outline-danger btn-sm">
              <i class="far fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
